@import "../../lib/widget/yo-dialog";

@include yo-dialog(
  $name: a,
  $height: 1.2rem

  ){
    h1{
      height: .3rem;
      color: skyblue;
      text-align: left;
      padding-left: .3rem;
      line-height:.3rem;
      font-family: "微软雅黑";
    }
  #txt{
    height: .4rem;

    @include border(1px 0 1px 0 ,skyblue);

    background:#fff;
  }
  footer{
    margin-top: .05rem;
  }

  footer button:first-child {
    color: black !important;
    border: 0;

  }
  footer button:last-child {
    color: black !important;
    border: 0;
  }
};
